<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @flashcard.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @flashcard.description %>
</p>

<p>
  <strong>Img url:</strong>
  <%= @flashcard.img_url %>
</p>

<%= link_to 'Edit', edit_flashcard_path(@flashcard) %> |
<%= link_to 'Back', flashcards_path %>
